/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-ewh6sg6pu4] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ewh6sg6pu4] {
    flex: 1;
}

.sidebar[b-ewh6sg6pu4] {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    /*border-right:solid thin #ccc9c9;*/
}

.top-row[b-ewh6sg6pu4] {
    background-color: #f7f7f7;
    /*border-bottom: 1px solid #d6d5d5;*/
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ewh6sg6pu4]  a, .top-row[b-ewh6sg6pu4]  .btn-link {
        white-space: nowrap;
        /*margin-left: 1.5rem;*/
        text-decoration: none;
    }

        .top-row[b-ewh6sg6pu4]  a:hover, .top-row[b-ewh6sg6pu4]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-ewh6sg6pu4]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.site-title[b-ewh6sg6pu4] {
    font-size: 1.5rem;
    color: #6c6a6a;
    font-weight: 100;
    margin: 0;
}

@media (max-width: 640.98px) {
    .site-title[b-ewh6sg6pu4] {
        display: none;
    }

    .top-row:not(.auth)[b-ewh6sg6pu4] {
        /*display: none;*/
    }

    .top-row.auth[b-ewh6sg6pu4] {
        justify-content: space-between;
    }

    .top-row[b-ewh6sg6pu4]  a, .top-row[b-ewh6sg6pu4]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ewh6sg6pu4] {
        flex-direction: row;
    }

    .sidebar[b-ewh6sg6pu4] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ewh6sg6pu4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-ewh6sg6pu4]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-ewh6sg6pu4], article[b-ewh6sg6pu4] {
        padding: 1rem !important;
       /* padding-left: 1rem !important;
        padding-right: 1.5rem !important;*/
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-pitqhlbjpl] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-pitqhlbjpl] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-pitqhlbjpl] {
    font-size: 1.1rem;
}

.oi[b-pitqhlbjpl] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-pitqhlbjpl] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-pitqhlbjpl] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-pitqhlbjpl] {
        padding-bottom: 1rem;
    }

    .nav-item[b-pitqhlbjpl]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-pitqhlbjpl]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-pitqhlbjpl]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-pitqhlbjpl] {
        display: none;
    }

    .collapse[b-pitqhlbjpl] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/UserButton.razor.rz.scp.css */
.show-menu[b-wwepknzha1] {
    display: block;
}

.user-button[b-wwepknzha1] {
    /*margin-left: 0;
    margin-right: 0;*/
    background-color: #ed7402;
    border: none;
}

.top-row a[b-wwepknzha1] {
    margin-left: 0;
}

.dropdown-item:hover[b-wwepknzha1] {
    background-color: white;
}
