
<h3>Licenses</h3>

<table class=" table table-bordered">
    <thead>
        <tr>
            <th scope="col">Customer</th>
            <th scope="col">Application</th>
            <th scope="col">Status</th>
            <th scope="col">License Key</th>
            <th scope="col">Further Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
        </tr>
    </tbody>
</table>


@code {

}
