@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row">
            <a href=""><img src="./logo.png" /></a>
            <span class="m-0 display-6 site-title">Frontline License Manager</span>
            <UserButton />
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
