.user-button {
    /*margin-left: 0;
    margin-right: 0;*/
    background-color: #ed7402;
    border: none;
    box-shadow: none;
}

.user-button:focus {
    box-shadow: none;
}

.login-text-btn {
    width: 4rem;
}

.top-row a {
    margin-left: 0;
}