.page[b-ewh6sg6pu4] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ewh6sg6pu4] {
    flex: 1;
}

.sidebar[b-ewh6sg6pu4] {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    /*border-right:solid thin #ccc9c9;*/
}

.top-row[b-ewh6sg6pu4] {
    background-color: #f7f7f7;
    /*border-bottom: 1px solid #d6d5d5;*/
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ewh6sg6pu4]  a, .top-row[b-ewh6sg6pu4]  .btn-link {
        white-space: nowrap;
        /*margin-left: 1.5rem;*/
        text-decoration: none;
    }

        .top-row[b-ewh6sg6pu4]  a:hover, .top-row[b-ewh6sg6pu4]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-ewh6sg6pu4]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.site-title[b-ewh6sg6pu4] {
    font-size: 1.5rem;
    color: #6c6a6a;
    font-weight: 100;
    margin: 0;
}

@media (max-width: 640.98px) {
    .site-title[b-ewh6sg6pu4] {
        display: none;
    }

    .top-row:not(.auth)[b-ewh6sg6pu4] {
        /*display: none;*/
    }

    .top-row.auth[b-ewh6sg6pu4] {
        justify-content: space-between;
    }

    .top-row[b-ewh6sg6pu4]  a, .top-row[b-ewh6sg6pu4]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ewh6sg6pu4] {
        flex-direction: row;
    }

    .sidebar[b-ewh6sg6pu4] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ewh6sg6pu4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-ewh6sg6pu4]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-ewh6sg6pu4], article[b-ewh6sg6pu4] {
        padding: 1rem !important;
       /* padding-left: 1rem !important;
        padding-right: 1.5rem !important;*/
    }
}
