.user-button[b-wwepknzha1] {
    /*margin-left: 0;
    margin-right: 0;*/
    background-color: #ed7402;
    border: none;
    box-shadow: none;
}

.user-button:focus[b-wwepknzha1] {
    box-shadow: none;
}

.login-text-btn[b-wwepknzha1] {
    width: 4rem;
}

.top-row a[b-wwepknzha1] {
    margin-left: 0;
}